body{
  margin:0;
  margin-top: 10px;
  text-align: center;
  background-color: orange;
}

.col{
  display: inline-block;
  height: 80px;
  width: 80px;
  text-align: center;
  margin-top: 2px;
  font-size: 40px;
  padding: 20px;
  padding-top: 30px;
  background-color: white;
  vertical-align: top;
}

#restart{
  padding: 20px;
  font-size: 30px;
  margin-top: 10px;
}
